html{
	scroll-behavior: sm;
}
*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(to right, #0f0f0f, #3f3f3c);
}
::selection{
	color: #181616;
	background-color: #e4d3e3;
}

h1{
  color: #d6eb1b;
  background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('../img/header-image-resized.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 5.0rem;
	font-weight: 500;
	margin-bottom: 5px;
	letter-spacing: 5px;
	padding: 5% 5% 15% 55%;
	text-shadow: 5px 5px 4px #053f12;
	max-height: 300px;
}
h1 img{
	width: 10vw;
	position: absolute;
	top: 15px;
	left: 15px;
}
/* h2{
	text-align: center;
	padding: 8px;
	width: fit-content;
	border-radius: 30px;
	background-color: #832982;
} */
h2{
	text-align: center;
	margin: 10px auto;
}
h2 span{
	background-color: #834549;
	border-radius: 30px;
	padding: 8px;
	margin: 5px;
	box-shadow: 5px 5px 18px #1a0303;
}
section h2{
	margin-top: 15px;
	margin-bottom: 15px;
}
#nav-check{
	position: fixed;
	top: 0;
	z-index: 9999;
}
.sidebar{
	position: fixed;
	top: 0px;
	left: -200px;
	width: 200px;
	background-color: rgba(226, 222, 4, 0.6);
	border-top: 3px solid #33233a;
	border-right: 3px solid #33233a;
	border-bottom: 3px solid #33233a;
	transition: all .5s ease;
	z-index: 1000;
}
.sidebar header{
	font-size: 22px;
	text-align: center;
	line-height: 70px;
  background-image: linear-gradient(to right, #292525, #424239);
	user-select: none;
}
.sidebar header img{
	width: 15vh;
	padding: 10px;
}
.sidebar ul a{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	font-weight: 500;
	color: #0c0b0b;	
	padding-left: 40px;
	margin: 5px 0px;
	box-sizing: border-box;
	border-top: 1px solid rgba(214, 214, 194, 0.2);
	border-bottom: 1px solid #000000;
	transition: .4s;
	text-shadow: 2px 2px 3px #524646;
	font-family: 'Chivo', sans-serif;
}
.sidebar ul li:last-child a{
	border-bottom: none;
}
.sidebar ul li:hover a{
	padding-left: 50px;	
}
.sidebar ul a li{
	margin-right: 16px;
}
#text{
	display: none;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: #000000;
	border-radius: 7px;
}
label #btn{
	left: 25px;
	top: 20px;
	font-size: 5vh;
	color: hsla(46, 84%, 53%, 0.993);
	padding: 6px 12px;
	transition: all 0.5s;
	z-index: 1001;
}
label #cancel{
	z-index: 1111;
	left: -170px;
	top: 5px;
	font-size: 15px;
	color: hsla(46, 84%, 53%, 0.993);
	padding: 4px 9px;
	transition: all 0.5s ease;
}
#check:checked~.sidebar{
	left: 0;
}
#check:checked~label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked~label #cancel{
	left: 160px;
}
#fullNav{
	background-image: linear-gradient(to right, #bdb112, #e4be16);
}
#fullNav ul{
  display: flex;
  list-style: none;
	padding: 10px;
	border-bottom: 2px rgb(48, 38, 38) solid;
	border-top: 2px rgb(48, 38, 38) solid;
}
#fullNav ul li{
  margin: 0 auto;
  font-size: 1.5rem;
	font-family: 'Chivo', sans-serif;
  /* border-left: 2px #000000 groove;
  border-right: 2px #000000 ridge; */
}
#fullNav ul li a{
   	color: rgb(48, 41, 41);
   	transition: 0.2s ease;
   	padding: 8px;
   	border-radius: 30px;
}
#fullNav ul li a:hover{
   	 text-decoration: none;
	 color: #d9dfee;
	 font-size: 1.55rem;
	 background-color: #893ad3;
}
#fullNav ul li .currentPage{
	color: #da1a1a;
}
#timings{
	text-align: center;
	margin: none;
}
.backdrop{	
	background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url('../img/table-backdrop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}
#table{
	color: #bfca1d;
	font-family: 'Montserrat';
	margin: 5px auto;
	margin-bottom: 25px;
	text-align: center;
	max-width: 600px;
}
#table .row{
	margin-left: auto;
	margin-right: auto;
	border-width: 1px 2px;
	border-style: solid;
	border-color: rgb(163, 152, 161);
	background-color: rgba(69, 4, 82, 0.329);
}
#table .row:last-child{
	border-bottom: 2px solid  rgb(163, 152, 161);
}
#table .row:first-child{
	border-top: 2px solid rgb(163, 152, 161);
}
table tr{
	padding: px;
	margin: 0px auto;
	width: 95%;
}
tbody{
	width: 95%;
	margin: 2px auto;
}
table tr td, table tr th{
	padding: 14px 2px;
}
table tr .day{
	border-right: 2px solid rgb(163, 152, 161);
}
#address{
	color: #989b10;
	text-align: center;
	font-family: "Alata";
	letter-spacing: 1px;
}
#address h2, #contact h2, #timings h2{
	margin: 30px auto;
	display: inline-block;
	background-color: #7e4341;
	font-family: 'Montserrat';
	letter-spacing: 0.1px;
	padding: 10px;
	border-radius: 25px;
	border: 3px solid #3f0321;
	font-size: 31px;
	color: #b0b31c;
}
#timings h2{
	margin-bottom: 20px;
	margin-top: 0;
}
#address h3{
	margin: 20px auto;
	text-decoration: underline;
	text-decoration-color: #c04818;
	text-underline-position: under;
}
#address section, #contact section{
	background: linear-gradient(to right,rgba(44, 41, 48, 0.219), rgba(84, 79, 87, 0.801));
	margin-bottom: 30px;
}
#address .address-division{
	padding: 10px;
	margin-bottom: 15px;
}
.address-div-1, .address-div-2{
	border-top: 2px solid #0a0a0a;
	border-bottom: 2px solid #0a0a0a;
	border-right: 2px solid #0a0a0a;
}
#address .address-div-1{
	border-left: 2px solid #0a0a0a;
	margin-bottom: 0;
}
.address-div-2 .primary{
	border-right: 2px groove #574f4f;
}
#contact{
	text-align: center;
	color: #989b10;
	margin-bottom: 25px;
}
#contact #contact-section{
	width: 90%;
	margin: 0 auto;
	border: 2px solid #0a0a0a;
}
#contact-list, #contact-form{
	display: inline-block;
	width: 45%;
	padding: 10px;
	font-family: "Alata";
}
#contact-section ul{
	list-style: none;
}
#footer{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('../img/footer-backdrop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
}
#contact-list{
	font-size: 16px;
	margin-top: 15px;
}
#contact-form{
	max-width: 400px;
	font-size: 20px;
}
#contact-form #headline{
	margin-bottom: 5px;
}
#contact-form a{
	color: #529fe7;
	transition: 0.4s ease;
	padding-bottom: 10px;
}
#contact-form a:hover{
	text-decoration: none;
	color: #ee9662;
}
#contact-form #note{
	font-size: 13px;
	margin-top: 10px;
}
#footer footer{
	color: #78e498;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
#footer footer div{
	margin: 0;
}
#footer footer img{
	width: 60%;
	max-width: 130px;
	min-width: 130px;
  /* background: linear-gradient(to right,rgba(51, 41, 41, 0.2), rgba(15, 14, 14, 0.6));
	border-radius: 30px;
	padding: 5px; */
	margin-top: 5px;
	margin-bottom: 5px;
}
#copyright{
	position: relative;
}
#copyright p{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-weight: 550;
}
#follow{
	position: relative;
}
#follow-bracket{
	position: absolute;
	bottom: 20px;
	width: 100%;
	font-weight: 550;
}
#follow-bracket h3{
	font-size: 22px;
}
#follow-bracket span a{
	color: #e5fd07;
	transition: all 0.3s ease;
	padding: 3px;
	font-weight: 450;
}
#follow-bracket span a:hover{
	background-color: #17c0b8;
	color:#0e1d1d;
	border-radius: 10px;
	text-decoration: none;
}
/* media queries */
@media (max-width: 767px){
	#fullNav{
		display: none;
	}
	h1{
		padding: 5% 3% 15% 45%;
	}
	h1 img{
		display: none;
	}
	#contact-form a{
		font-size: 16px;
	}
}
@media (max-width: 575px){
	
	p{
		text-align: justify;
		word-spacing: -2px;
  }
	#footer p{
		text-align: center;
		word-spacing: 0;
	}
	h1{
		text-align: right;
		min-height: 250px;
		padding: 20% 5% 15% 20%;
		font-size: 4.1rem;
		margin: 0;
	}
	/* #table{
		margin-left: 5px;
		margin-right: 5px;
	} */
	#follow,#follow-bracket,#copyright,#copyright p{
		position: static;
	}
	#address section{
		width: 95%;
		margin: auto;
	}
	.address-div-2 .primary{
	border-right: none;
  	}
	.address-div-1{
	border-top: 2px solid #0a0a0a;
	border-bottom: 1px solid #0a0a0a;
	border-right: 2px solid #0a0a0a;
	}
	.address-div-2{
	border-width: 1px 2px 2px 2px;
	border-color: #0a0a0a;
	border-style: solid;
	}
	#contact-list, #contact-form{
	display: inline-block;
	width: 100%;
	padding: 10px;
	font-family: "Alata";
  	}
	#headline, #note{
		text-align: left;
		word-spacing: 0.2px;
	}
	#footer{
		background-image: url('../img/footer-backdrop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 5px;
	}
	#footer footer{
		color: #0e1d1d;
	}
	#footer footer img{
		background: linear-gradient(to right,rgba(167, 146, 146, 0.2), rgba(65, 53, 53, 0.5));
		border-radius: 30px;
		padding: 6px;
	}
}
@media (min-width: 768px){
  #btn, #navbar, #nav-check{
    display: none;
  }
  h1{
    margin-bottom: 0px;
  }
	#address h2{
		font-size: 35px;
	}
	#address h3{
		font-size: 30px;
	}
	#address article{
		font-size: 20px;
	}
}
/* BOOTSTRAP SIZE REFERENCE
576PX, 768PX, 992PX, 1200PX. */
