nav.Navigation{
 	border: 3px solid grey;
 	padding: 0px;
}
nav a.heading {
	font-size: 1.5em;	
	padding: 18px;
}
button#menu-button{
	margin-right: 8px;
}
button#menu-button:hover{
	border: 1px solid #d6d6c2
}
button#menu-button:focus{
	outline: none;
}
li.menu-item{
	background-color: #000000;
}
li a.option{
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px groove #d6d6c2
}
h1#title{
	padding-top: 8px;
	padding-bottom: 15px;
	font-size: 26px;
	text-align: center;
	
}	
div#main{
	background-color: #8a93a1;
	color: white; 
}
div#section-title{
	text-align: center;
	font-size: 21px;
}
p#content{
	padding: 5px;
}

/*media queries*/
@media (min-width:576px){
div >ul.Menu{
	display: none;
}
div#main{
	width: 97%;
	margin: auto;
}
h1#title{
	margin-bottom:15px;
}
}
@media (max-width: 575px){
div#main{
	width: 77%;
	margin: auto;
}
h1#title{
	margin-bottom:10px;
}
}
